body {
  font-size: 12px;
  font-family: Arial, serif;
  color: rgba(0,0,0,0.87);
}

.nav {
  float: right;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: #404040;
}

a:hover {
  text-decoration: underline;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 30px;
}

.nav ul li {
  display: inline;
  padding: 5px;
}

.container {
  clear: right;
  width: 960px;
  margin: auto;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  vertical-align: middle;
  padding-top: 112px;
}

.logo {
  background: url(logo.png) no-repeat;
  background-size: 269px 95px;
  width: 269px;
  height: 95px;
  padding-bottom: 20px;
}

.search_text {
  width: 487px;
  padding-top: 2px;
  padding-bottom: 3px;
}

.button {
  display: inline-block;
  padding: 0 8px;
  margin: 11px 8px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
  height: 30px;
}

.footer {
  width: 99%;
  position: absolute;
  bottom: 0px;
  background-color: #f2f2f2;
  border: 1px 0 0 0 solid black;
  display: inline-block;
}

.footer ul li {
  display: inline;
  padding: 10px;
}

.footer_right {
  position: absolute;
  right: 20px;
}

.footer_left {
  float: left;
}


